.footer {
    background-color: #3B5998;
    color: white;
  }
  
  .footer-container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 3rem 3.5rem;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  
  @media (max-width: 768px) {
    .footer-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .company-info h2 {
    font-size: 2.875rem;
    /* font-weight: bold; */
    margin-bottom: 1rem;
  }
  
  .company-info p {
    color: #cbd5e1;
    margin-bottom: 1.5rem;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
  
  .icon-wrapper {
    background-color: #f97316;
    padding: 0.5rem;
    border-radius: 9999px;
  }
  
  .useful-links h3, .newest-listings h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  
  .links-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  
  .link-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }
  ul li a{
    color: #ffff;
  }
  .link-item:hover {
    color: #f97316;
  }
  
  .links-list li {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Space between icon and text */
  }
  
  .arrow-icon-footer {
    color: #f97316; /* Orange color */
    font-size: 1rem;
    margin-right: 0.3rem; /* Adjust spacing */
  }
  
  .links-list li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .links-list li:hover a {
    color: #f97316;
  }
  
  
  .listing-item-footer {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .listing-image-footer {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 0.375rem;
  }
  
  .listing-info-footer h4 {
    font-weight: 500;
  }
  
  .listing-price-footer {
    color: #ffff;
  }
  
  .footer-bottom {
    padding-left: 14%;
    padding-right: 14%;
    padding-bottom: 1rem;
    background-color: #2D4274;
    margin-top: 3rem;
    padding-top: 2rem;
    /* border-top: 1px solid #4b5563; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .footer-bottom {
      flex-direction: column;
      gap: 1rem;
      text-align: center;
    }
  }
  
  .social-links {
    display: flex;
    gap: 1rem;
  }
  
  .social-link {
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
  }
  
  .social-link:hover {
    background: rgba(255, 255, 255, 0.1);
  }